**Introduce yourself:**
**Replace "Your Name", 25, "Bachelor's in Computer Science", and "Programming and exploring new technologies" with your actual information, and run the code to introduce yourself with your education background and hobby using Python!**

In [23]:
# Personal Information
name = "Your Name"
age = 25
education_background = "Bachelor's in Computer Science"
hobby = "Programming and exploring new technologies"

# Introduction Function
def introduce(name, age, education, hobby):
    introduction = f"Hello! I'm {name}, a {age}-year-old with a background in {education}. My hobby is {hobby}."
    return introduction

# Display Introduction
print(introduce(name, age, education_background, hobby))

Hello! I'm Your Name, a 25-year-old with a background in Bachelor's in Computer Science. My hobby is Programming and exploring new technologies.

**Exercise 1: Hello, World!
Write a Python program that prints "Hello, World!" to the console.**

In [14]:
print("Hello, World!")

Hello, World!

**Exercise 2: Variables and Data Types:**

In [15]:
# Variables and Data Types
name = "John"
age = 25
height = 5.9
is_student = False

# Printing values
print(name)
print(age)
print(height)
print(is_student)

John
25
5.9
False

**Exercise 3: Loops : Print 0 to 4**

In [16]:
# For Loop
for i in range(5):
    print(i)

# While Loop
counter = 0
while counter < 5:
    print(counter)
    counter += 1

0
1
2
3
4
0
1
2
3
4

**Exercise 4 : Conditionals: Check if number is positive/Negative/Zero**

In [17]:
# If-else statement
num = 10
if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Positive

**Exercise 5: Function**

In [18]:
# Functions
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")

Hello, Alice!

**Exercise 6: Simple Calculator
Create a basic calculator that can add, subtract, multiply, and divide two numbers. Take input from the user.**

In [19]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print(f"Sum: {addition}")
print(f"Difference: {subtraction}")
print(f"Product: {multiplication}")
print(f"Quotient: {division}")

Enter the first number: 12
Enter the second number: 33
Sum: 45.0
Difference: -21.0
Product: 396.0
Quotient: 0.36363636363636365

**Exercise 7: Even or Odd
Write a program that takes an integer input from the user and prints whether it is even or odd.**

In [20]:
num = int(input("Enter an integer: "))

if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

Enter an integer: 2
2 is even.

 **Exercise 8: Sum of Natural Numbers The sum of natural numbers formula is: S = [n(n+1)]/2**

In [21]:
# Sum of Natural Numbers
def sum_of_natural_numbers(n):
    return n * (n + 1) // 2

number = int(input("Enter a positive integer: "))
result = sum_of_natural_numbers(number)
print(f"Sum of the first {number} natural numbers: {result}")

Enter a positive integer: 22
Sum of the first 22 natural numbers: 253

**Exercise 9: Mean (Average) Calculation:**

In [22]:
# Mean Calculation
def calculate_mean(numbers):
    return sum(numbers) / len(numbers)

data = [10, 15, 20, 25, 30]
mean_result = calculate_mean(data)
print(f"Mean: {mean_result}")

Mean: 20.0